* {
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    color: var(--blue);
}

a {
    text-decoration: none;
    color: var(--nearly-white);
}
.navbar-nav .nav-item {
    list-style-type: none;
}

.container {
    max-width: 1320px;
    padding: 0 1rem;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* css stop transition & animation */
.resize-animation-stopper *{
    animation: none !important;
    transition: none !important;
}

/* SORT */
#sort-section .sort-part {
    box-sizing: border-box;
}


/* Modal Overlay */
#modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: var(--trans);
    z-index: 500;
}

#modal-overlay.show {
    opacity: 1;
    visibility: visible;
}


/* FOOTER */
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.8rem 0;
    margin-left: auto;
    margin-right: auto;
}

